.advertisement-card {
    .description {
        max-height: 230px;
        overflow: hidden; 
        margin-bottom: 8px;
        padding: 8px;
        border-radius: 4px;
        position: relative; 

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 8px; 
            height: 100%;
            background: rgba(0, 0, 0, 0.1); 
            border-radius: 4px;
            display: none; 
        }

        &:hover {
            overflow-y: auto; 

            
        }

        ::-webkit-scrollbar {
            width: 8px; 
        }

        ::-webkit-scrollbar-thumb {
            background-color: #a0aec0;
            border-radius: 4px;
        }

        ::-webkit-scrollbar-track {
            background-color: #edf2f7;
            border-radius: 4px;
        }
    }
}
