// AdvertisementCard.scss

.advertisement-card {
    & .description {
      max-height: 230px;
      overflow-y: auto; 
      margin-bottom: 8px;
      padding: 8px;
      border-radius: 4px; 
  
      ::-webkit-scrollbar {
        width: 4px; 
      }
  
      ::-webkit-scrollbar-thumb {
        background-color: #a0aec0; 
        border-radius: 4px; 
      }
  
      ::-webkit-scrollbar-track {
        background-color: #edf2f7; 
        border-radius: 4px; 
      }
    }
  }
  