html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.register-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/login-register-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
        z-index: 0;
    }
}

.register-container {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.password-input-register {
    position: relative;
}

.eye-icon-register {
    position: absolute;
    right: 0.5rem; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa; 
    opacity: 0;   
    transition: opacity 0.3s ease;
    margin-top: 12px;
}

.password-input-register:hover .eye-icon-register {
    opacity: 1; 
}

input {
    padding-right: 2.5rem; 
}